body {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
}

/*header section start */
#logo {
  background-image: url("Images\ShopLogo.png");
  float: left;
  overflow: hidden;
  padding: 5px;
}

div.nav {
  float: right;
}

div.nav ul {
  margin: 0;
  padding-right: 490px;
  list-style: none;
  min-width: 550px;
}

div.nav li {
  display: inline-block;
  padding-top: 44px;
  padding-right: 50px;
  position: relative;
}

div.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

div.nav a:hover {
  color: #000;
}

div.nav a {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;
  top: 0;
  transition: all ease-in-out 250ms;
}



div.nav .current {
  color: black;
}

#container #header {
  background-color: #55d6aa;
  text-align: center;
  font: 24px Verdana, Arial, Helvetica, sans-serif;
}

#container #header::after {
  content: "";
  display: table;
  clear: both;
}

/*header section end */


/*main content section start */
#container #content {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

#content .col1 {
  float: left;
  width: 10%;
  height: 700px;
  ;
}


#content .col2 {
  width: 90%;
  min-width: 900px;
  height: 1800px;
  color: black;
  align-items: center;
  font-family: "Playfair Display";
  font-size: 22px;
  flex-direction: column;
}

#content .col2 p {
  color: white;
}


#content .col3 {
  float: right;
  width: 10%;
  height: 700px;
}

#locationLink:visited {
  color: black;
}

#locationLink:hover {
  color: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  clear: both;
}

.pictures {
  width: 50%;
  float: left;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
  padding-bottom:50px ;
}


.pictures img {
  border: solid 2px gray;
  border-radius: 10px;
  margin: 15px;

}

/*form settings start */
form {
  text-align: left;

}

form div {
  padding-top: 10px;
}

form label {
  padding-right: 30px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #71b7e6
}

.container {
  max-width: 800px;
  min-width: 600px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.title {
  position: relative;
}


#feedbackTitle {
  position: relative;

}



.inputName {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;

}


.submit {
  align-items: center;
  color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  display: block;
  cursor: pointer;
  transition-duration: 0.4s;
  background: #71b7e6;
  border: 0px;

}

.submit:hover {
  color: black;
}

input.wide {
  margin-top: 10px;
  width: 50%;
  border-radius: 3px;
}

.shoppingPageBuyButton {
  align-items: center;
  color: black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  transition-duration: 0.4s;
  background: white;
  border: 0px;
  text-decoration: none;

}

.shoppingPageBuyButton:hover {
  color: darkorchid;
}

a {
  text-decoration: none;
}

.loginForm {
  max-width: 800px;
  min-width: 600px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 15px;

}





.ContactPicture {
  width: 90%;

  clear: both;
  font-size: 18px;
  border-radius: 5px;
  height: 320px;
  margin: auto;
  padding: 5px;
  background: white;
}

.ContactPicture img {

  border: solid 2px gray;
  border-radius: 10px;
  margin: 5px;
  float: left;

}

.ContactPicture ul {
  list-style: none;
  font-weight: bold;
  font-size: 22px;
}

.ContactPicture ul li {
  padding:30px;
  text-align: left;
}

.contactLogo{
  padding-left: 30px;
  
}

.keyUpMessage{
  display: inline-block;
}






/*form settings end */


/*main content section end */


#container #footer {
  clear: both;
  padding: 5px;
  color: white;
  background-color: gray;
  font: 12px Arial, Helvetica, sans-serif;
  text-align: center;
  height: 65px;
}