body {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    width: 100%;
}

#logo {
  
   
   background-image: url('Images\ShopLogo.png');
   float: left;
   overflow: hidden;
   padding: 5px;
   margin-top:10px;
   
}


nav{
    float: right;
}

nav ul{
    margin: 0;
    padding-right:490px;
    list-style:none;
}

nav li{
    display: inline-block;
    padding-top: 44px;
    padding-right: 50px;
    position: relative;
}

nav a{
    color:white;
    text-decoration: none;
    text-transform:uppercase;

}

nav a:hover{
    color: #000;

}

nav a:before{
    content:'';
    display:block;
    height:5px;
    width:0%;
    background-color: #444;
    top:0;
    transition:all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

nav .current{
    color: black;
}

#container #header {
    background-color:#55d6aa;
    text-align: center;
    font: 24px Verdana, Arial, Helvetica, sans-serif;
}

#container #header::after{
    content:'';
    display:table;
    clear:both;
}
#container #content {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

#content .col1 {
    float: left;
    width: 10%;
    height: 550px;
    background-color:white;
}

#content .col2 {
    width:80%;
    margin-left: 5%;
    background-color: #CC99FF;
    height: 550px;
    border-radius: 10px;
}

#content .col3 {
    float: right;
    width: 200px;
    background-color: #99FFCC;
    height: 550px;
    border-radius: 10px;
}

#container #footer {
    clear: both;
    padding: 5px;
    color:white;
    background-color:black;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: center;
    height: 65px;
}